<script>
    import {cart} from '../store'
    export let book;
    export let id;
    //export let cart;

    let thumbnailURL;
    const { volumeInfo } = book;
    var { title, imageLinks, previewLink, subtitle, publisher} = volumeInfo;
    if (imageLinks) {
        const { thumbnail } = imageLinks;
        thumbnailURL = thumbnail
    } else {
        thumbnailURL = 'https://programacion.net/files/article/20161110041116_image-not-found.png'
    }
    if (subtitle === undefined) {
        subtitle = ''
    }

    function addToCart(book) {
        $cart = [...$cart, book]
    }
</script>
<div class="card me-3 p-3" style="width: 18rem;" {id}>
    <img src="{thumbnailURL}" class="card-img-top" alt="...">
    <div class="card-body">

    </div>
    <div class="mb-2">
        <h5 class="card-title">{title}</h5>
        <p class="card-text">{subtitle}</p>
        <a href="{previewLink}" class="btn btn-primary">Preview</a>
        <button class="btn btn-success" on:click={addToCart(book)}>Add to cart</button>
    </div>
</div>
<style></style>