<script>
import BookItem from "./BookItem.svelte";
import {books, loading, cart} from "../store"

</script>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    {#if $loading}
        <h2>LOADING...</h2>
    {:else}
        {#each $books as book}
        <BookItem book={book} id={book.id}/>   
        {/each}
    {/if}
</div>
<style></style>