<script>
    import {cart} from '../store'
</script>
<div>
    {#if $cart.length > 0}
        <button 
            class="btn btn-success position-relative"
            data-bs-toggle="offcanvas"
            data-bs-target="#cart"
            aria-controls="cart">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {$cart.length}
                <span class="visually-hidden">unread messages</span>
            </span>
            <span class="material-icons">
                shopping_cart
            </span>
        </button>
        <div 
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="cart"
            aria-labelledby="cartTitle">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="cartTitle">Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-level="Close"></button>
            </div>
            <div class="offcanvas-body">
                {#each $cart as item}
                    <li>{item.volumeInfo.title}</li>
                {/each}
            </div>
        </div>
    {:else}
        <button class="btn btn-success">
            <span class="material-icons">
                shopping_cart
            </span>
        </button>
    {/if}
</div>