<script>
import Cart from "./Cart.svelte";

</script>
<nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Book Finder</a>
        <Cart/>
    </div>
</nav>
<style></style>