<script>
    import {books, loading} from '../store'
    let text = ''
    let alertMessage = ''
    let searchInput
    function clearSearch() {
        text = ''
        books.set([])
        searchInput.focus()
    }

    function keyPress(event) {

        if (event.keyCode === 13) {
            handleSubmit()
        }
    }

    function handleSubmit(event) {
        //event.preventDefault();
        if(!text) {
            setAlert('Type something')
        } else {
            searchBooks()
        }
    }

    function setAlert(msg) {
        alertMessage = msg
        setTimeout(() => alertMessage = '', 3000)
    }

    async function searchBooks() {
        loading.set(true)
        const res = await fetch(`https://www.googleapis.com/books/v1/volumes?q=${text}`)
        const data = await res.json()
        books.set(data.items)
        loading.set(false)
    }
</script>
<main>
    <div class="row g-3 aling-items-center mt-3">
        <div class="col-auto">
            <input 
                type="text" 
                placeholder="Type a title, author or editorial" 
                bind:value={text} 
                bind:this={searchInput}
                on:keypress={keyPress}
                class="form-control">
        </div>

        <div class="col-auto">
            <button class="btn btn-success" type="submit" on:click={handleSubmit}>Search</button>
        </div>
        {#if $books.length > 0}
        <div class="col-auto">
            <button class="btn btn-primary" on:click={clearSearch}>Clear Search</button>
        </div>
        {/if}
        {#if alertMessage}
        <small class="text-danger">{alertMessage}</small>
        {/if}
    </div>
</main>
<style></style>