<script>
	import BookContainer from './components/BookContainer.svelte';
	import NavBar from './components/NavBar.svelte'
	import SearchBar from './components/SearchBar.svelte';
</script>

<main>
	<div class="container-fluid">
		<NavBar />
		<SearchBar />
		<BookContainer />
	</div>
</main>

<style>
</style>